# All available configuration options are in src/main/resources/application.yml.
server:
  shutdown: graceful

spring:
  lifecycle:
    timeout-per-shutdown-phase: 15s

paceline:
  lifecycle:
    idle-timeout: 10m
